# Secret files — NEVER push these
.env
serviceAccount.json
node_modules/
public/test-series.html
public/index.html
public/mains.html
public/notes.html
public/prelims.html
public/robots.txt
public/sitemap.xml
public/syllabus.html
.firebase/hosting.cHVibGlj.cache
firebase.json
robots.txt
TestSeries/index.html
.firebase/hosting.cHVibGlj.cache
Prelims/index.html
.firebase/hosting.cHVibGlj.cache
prelims/index.html
prelims/index.html
prelims/index.html
